/* using variable because colors will be reapted*/
:root {
    --clr-dark: black;
    --clr-light: blanchedalmond;

} 

/* useful code for responsive design*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* varaible color being used throughout webpage*/
body {
    background-color: var(--clr-dark);
}

/* will control how childeren are displayed*/
.main-header {
    display: flex;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--clr-light);
    color: var (--clr-dark);
}

/* will control how childeren are displayed, evenly spaced*/
.main-header div {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    margin-right: 50px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* will control how childeren are displayed, flex end point*/
.main-header div ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type:none
}

/* will control how childeren are displayed along main axis*/
.main-header div ul li {
    display: flex;
    justify-content: flex-start;
    display:inline-block;
    margin-left: 25px;
}

/*a href will be this color with wavy text*/
a {
    color: var(--clr-dark);
    text-decoration: wavy;
}

/* Will stay in centered*/
.content h1,
.content p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-light);
}

/* rounded border for image and positioning*/
.Avatar {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px 50px 20px;
}


/* img is in flexbox, has rounded border and has been sized*/
.position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:20%;
    border-radius: 50px 25px 20px;
}

/* p's font, size and postioning determined*/
#AboutTheCreator p {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
}



.main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/* footers sizing and font size being determined, variable reused color, and how text is being positioned*/
footer {
    padding: 60px;
    font-size: 25px;
    color: var(--clr-light);
    text-align: center;
}

/* header and footer will turn white after anything 992px*/
@media all and (max-width: 992px) {
    .main-header,
    footer {
        background: white;
    }
}