* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main-header {
    display: flex;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: black;
}

.main-header div {
    display: flex;
    padding-top: 15px;
    margin-right: 50px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.main-header div ul {
    list-style-type:circle;
}

.main-header div ul li {
    display:inline-block;
    margin-left: 25px;
}

.image {
    width: 150px;
    border-radius: 20px 20px 20px;
}

a {
    color: black;
    text-decoration: wavy;
}

.content h1 {
    color: blanchedalmond;
}

.content img {
    width:25%;
}

.left {
    border-radius: 30px;
}